S3method(print,miive)
S3method(print,miivs)
export(miive)
export(miivs)
import(Matrix)
import(lavaan)
importFrom("methods", "as")
importFrom("stats", "aggregate", "ave", "cor", "lm", "na.omit", "pchisq", "pnorm", "setNames")
importFrom("utils", "write.table")
