S3method(print,miive)
S3method(print,miivs)
export(miive)
export(miivs)
import(Matrix)
import(lavaan)
import(car)
importFrom("methods", "as")
importFrom("stats", "as.formula", "formula", "lm.fit", "model.extract", "model.frame", "model.matrix")
importFrom("utils", "type.convert")